body {
  background-color: rgba(49, 217, 223, 0.532);
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

header {
  background: #f1fbf3a4;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-self: auto;
}

main {
  background: #f1fbf3a4;
  padding-top: 0;
}

h2 {
  background: #f1fbf3a4;
  font-size: 42px;
  text-align: center;
  padding-bottom: 0;
}

article {
  border-width: 2px;
  border-radius: 25%;
}

a {
  border-width: 2px;
  border-radius: 25%;
}

button {
  border-width: 2px;
  border-radius: 25%;
}

img {
  border-width: 2px;
  border-radius: 25%;
}
footer {
  position: absolute;
  bottom: 0ch;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10%;
}

#banner {
  position: static;
  width: 150ch;
  height: 10ch;
}

#logotipo {
  position: static;
  width: 10ch;
  height: 10ch;
}
