div {
  border-width: 2px;
  border-radius: 25%;
}

a {
  border-width: 2px;
  border-radius: 25%;
}

button {
  border-width: 2px;
  border-radius: 25%;
}

img {
  border-width: 2px;
  border-radius: 25%;
}
